.elem {
  padding-left: 25px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 15px;
  height: 200px;
}

.friendsList {
  color: blue;
  cursor: pointer;
  &:hover {
    color: rgb(0, 0, 150);
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
